@import url(https://fonts.googleapis.com/css2?family=Titillium+Web);

body {
  background-color: #692020;
  font-family: "Titillium Web", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
  margin: 2rem auto 2rem auto;
  justify-items: center;
  background-color: #aa2020;
  border: solid black;
  border-radius: 2rem;
  width: 90%;
  max-width: 60rem;
  p {
    color: white;
    font-size: 1rem;
    padding: 0 1rem 0 1rem;
  }
}
.h1white {
  color: white;
  font-size: 5rem;
  font-weight: bold;
  padding: 2% 0 1% 0;
  margin: 0;
  text-align: center;
}
nav {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 4rem;
  border: solid rgb(200, 200, 200);
  padding: 1rem;
  margin: 2rem auto 2rem auto;
  justify-content: center;
  max-width: 60rem;
  a {
    font-size: 2rem;
    color: wheat;
    text-decoration: none;
    padding: 1rem;
  }
  a.active {
    background-color: #aa2020;
    border: solid hsl(0, 0%, 0%);
    border-radius: 4rem;
    color: white;
  }
}
.h2white {
  color: white;
  font-size: 4rem;
  font-weight: 200;
  margin: 0 0 1rem;
  text-align: center;
}

/* Karakter */

.switchbox {
  display: grid;
  grid-template-columns: 50% auto;
  padding-bottom: 1rem;
  justify-items: center;
}

.switchbox_item {
  h2 {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin: 1rem auto 0 auto;
  }
}

/* CV */

.container-light {
  width: 90%;
  background-color: #e28888;
  margin: auto;
  padding: 1rem;
  th {
    font-size: 26px;
    padding: 1rem;
    text-align: left;
  }
}


/* Contact */

.contactform {
  margin: auto;
  width: 70%;
  font-size: xx-large;
  background-color: #e28888;
  display: grid;
  grid-template-columns: auto auto;
  padding: 1rem;
  margin: 1rem;
  p{
    color: black;
    font-size: 1.5rem;
  }
  border: solid rgb(200, 200, 200);
  border-radius: 2rem;
}
.grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  padding: 5px;
}
.button {
  background-color: lightgreen;
  justify-self: center;
  padding: 1rem;
  margin: 1rem;
  font-size: 2rem;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  grid-column: 1 / span 2;
}

#block{
  display: block;
}